<div class="bg-surface rounded-xl flex flex-col overflow-clip h-96">
  <!-- Preview Area -->
  <div class="flex items-center justify-center overflow-hidden grow">
    @if (isPdf) {
      @if (previewUrl(); as url) {
        <img
          [src]="url"
          [alt]="file().name + ' preview'"
          class="w-full h-full object-cover object-top"
        />
      } @else {
        <app-loading text="Loading Preview" />
      }
    } @else {
      <img
        [src]="file().previewUrl"
        [alt]="file().name + ' preview'"
        class="w-full h-full object-cover object-top"
      />
    }
  </div>

  <!-- File Info -->
  <div class="flex items-center w-full p-2 gap-2 flex-1">
    <div class="flex flex-col grow min-w-0">
      <p class="truncate" [title]="file().name">
        {{ file().name }}
      </p>
      <p class="flex gap-2">
        <span>{{ file().pageCount }} page{{ file().pageCount !== 1 ? 's' : '' }}</span>
        <span>{{ (file().size / 1024 / 1024).toFixed(1) }} MB</span>
      </p>
    </div>

    <!-- Remove Button -->
    <button
      type="button"
      class="cursor-pointer p-2 bg-primary text-on-primary rounded-lg flex items-center justify-center"
      [disabled]="disabled()"
      [class.opacity-50]="disabled()"
      [class.cursor-not-allowed]="disabled()"
      [attr.aria-label]="'Remove ' + file().name"
      (click)="onRemove()"
    >
      <ng-icon name="lucideTrash2" size="20" />
    </button>
  </div>
</div>
