<div
  class="text-on-background relative flex flex-col gap-2 items-center justify-center rounded-2xl border-2 border-dashed p-8 transition-all duration-300"
  [class.border-primary]="isDragging()"
  [class.border-primary/40]="!isDragging()"
  [class.brightness-110]="isDragging()"
  [class.scale-[1.02]]="isDragging()"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <!-- Text -->
  <p class="text-lg font-semibold">Drop Files Here</p>

  <p class="">or</p>

  <!-- Browse Button -->
  <label
    class="px-4 py-2 bg-primary text-on-primary rounded-lg cursor-pointer"
    [class.pointer-events-none]="isProcessing()"
    [class.opacity-60]="isProcessing()"
    [class.cursor-wait]="isProcessing()"
  >
    @if (isProcessing()) {
      <app-loading text="Processing" />
    } @else {
      <ng-icon name="lucideFolderOpen" size="16" />
      Browse files
    }
    <input
      type="file"
      class="hidden"
      accept=".pdf,.jpg,.jpeg,.png,.webp"
      multiple
      [disabled]="isProcessing()"
      (change)="onFileInput($event)"
    />
  </label>

  <!-- Supported Formats -->
  <p class="text-sm font-medium opacity-50">Supported: PDF, JPG, PNG, WEBP</p>
</div>
