@if (message()) {
  <div
    class="relative flex items-center justify-between gap-3 rounded-lg border border-primary p-4 bg bg-surface text-on-surface"
  >
    <div class="flex items-center justifycenter gap-2">
      @switch (type()) {
        @case ('info') {
          <ng-icon name="lucideInfo" size="20" class="" />
        }
        @case ('warning') {
          <ng-icon name="lucideAlertTriangle" size="20" class="" />
        }
        @case ('error') {
          <ng-icon name="lucideXCircle" size="20" class="" />
        }
        @case ('success') {
          <ng-icon name="lucideXCircle" size="20" class="" />
        }
      }

      <p class="text-sm font-medium flex-1">
        {{ message() }}
      </p>
    </div>

    @if (dismissible()) {
      <button type="button" class="" (click)="onDismiss()" [attr.aria-label]="'Dismiss'">
        <ng-icon name="lucideX" size="16" />
      </button>
    }
  </div>
}
