/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@custom-variant dark (&:where(.theme-dark, .theme-dark *));

@theme {
  --color-primary: #4076b8;
  --color-on-primary: #ecf6f8;

  --color-background: #e4eef0;
  --color-on-background: #111a3e;

  --color-surface: #c1d3e4;
  --color-on-surface: #111a3e;
}
